/* -------------------------------- GENERAL -------------------------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
	font-size: 16pt;
}

button {
    border: none;
    background: white;
    outline: none;
    width: 100%;
    min-height: 40px;
    height: 40px;
    font-weight: 300;
    font-size: larger;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

.page-title {
    margin: 2px 0;
    line-height: 1;
}

.entry-title {
    margin: 2px 0;
    line-height: 1;
}

.post-info {
    font-style: italic;
}

.post-summary {
    margin-bottom: 90px;
}

/* -------------------------------- HEADER -------------------------------- */

#masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}

#headshot {
	width: 150px;
	height: 150px;
	min-width: 150px;
	background-size: 150px 150px;
	border-radius: 150px;
	background-image: url('../img/headshot.jpg')
}

#title_block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subtitle {
	font-size: 75%;

}

#menu {
    width: 150px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul div {
    margin-bottom: 2px;
}

nav ul div a {
    padding: 5px 0;
    color: white;
    display: block;
    text-align: center;
    font-size: 90%;
}

nav ul div a:hover {
    text-decoration: none;
}

#about_button {
    background: rgb(26, 153, 252);
}

#portfolio_button {
    background: rgb(253, 127, 124);
}

#research_button {
    background: rgb(253, 137, 253);
}

#archive_button {
    background: rgb(254,211,127);
}


/* --------------------------------- BODY --------------------------------- */

#body {
    width: 690px;
    padding: 25px 15px;
    align-self: center;
    line-height: 1.8;
    font-size: 14pt;
}

/* ------------------------------- PORTFOLIO ------------------------------- */

#portolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

.project {
    width: 290px;
    height: 360px;
    margin: 10px;
    padding: 10px;
    border: thin solid darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #888888;
    background: rgb(26, 153, 252);
    color: white;
    line-height: 1.2;
    align-items: center;
}

.project a {
    color: white;
}

.projectHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
}

.projectHeaderTopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectTitle h2 {
    margin: 0;
}

.projectLanguageList {
    display: flex;
}

.projectLanguage {
    width: 35px;
    height: 35px;
    background-size: 35px;
    border-radius: 5px;
}

.projectSummary {
    text-align: center;
    min-height: 66px;
}

.languagePython {
    background-image: url('../img/python.png');
}

.languageJavascript {
    background-image: url('../img/javascript.png');
}

.projectHero {
    width: 200px;
    height: 200px;
    background-size: 200px;
}

.menpoHero {
    background-image: url('../img/menpo.png');
}

.landmarkerioHero {
    background-image: url('../img/landmarkerio.png');
}


/* -------------------------------- QUERIES -------------------------------- */

@media screen and (max-width: 1024px) {

	#masthead {
		width: auto;
        align-self: stretch;
    }

}

@media screen and (max-width: 780px) {

    #body {
        width: auto;
        align-self: stretch;
    }

}

@media screen and (max-width: 480px) {

    #headshot {
        width: 110px;
        height: 110px;
        min-width: 110px;
        background-size: 110px 110px;
    }

    #menu {
        width: 110px;
    }

    #body {
        font-size: 80%;
        padding: 20px 5px;
    }

}

@media screen and (max-width: 385px) {

    #headshot {
        width: 95px;
        height: 95px;
        min-width: 95px;
        background-size: 95px 95px;
    }

    #menu {
        width: 95px;
    }

}

@media screen and (max-width: 355px) {

	#headshot {
		display: none;
	}

    #title_block {
        align-items: baseline;
    }

    p {
        /* Too small and justification looks bad */
        text-align: start;
    }

}
